/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* -------------------------------------------------- */

/* Main */
body > h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

#main {
  display: flex;
  gap: 140px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
}
#main > div {
  flex: 1;
}

#main > div > h2 {
  margin-bottom: 12px;
}

/* board */
.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
}

.cell {
  width: auto;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.395);
  border-radius: 2px;
}

.cell:hover {
  background-color: rgba(128, 128, 128, 0.148);
  cursor: pointer;
}

.ship {
  background-color: rgba(25, 25, 198, 0.463);
}
